# Ignore Python cache files
__pycache__/
**/__pycache__/

# Ignore VSCode settings
.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore environment files (if using virtualenv)
venv/
.env/